name: Publish tag

on:
  # run when a pushing a tag
  push:
    tags:
      - '1.*'

jobs:
  create-dist:
    name: create-dist
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Create dist
        run: |
          python -m pip install --upgrade pip
          pip --version
          pip install setuptools wheel
          python setup.py sdist --dist-dir dist

      - name: Publish wheel
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{ secrets.pypi_token }}
          # comment repository_url to use the real pypi
          # repository_url: https://test.pypi.org/legacy/
          packages_dir: dist/
